* {
  box-sizing: border-box;
}

#allContainer {
  width: 1000px;
  margin: auto;
}

.header {
  display: flex;
  text-align: center;
  margin-bottom: 5px;
}

.header h1 {
  margin: auto;
  color: rgb(36, 36, 36);
  border: 5px rgb(216, 239, 255) solid;
  border-radius: 50px;
}

#header #login-form {
  display: flex;
  height: 30px;
}

.header input {
  width: 65%;
  height: 30px;
  margin-top: 20px;
}

.header button {
  width: 30%;
  height: 30px;
}

#greeting {
  font-size: 25px;
  font-weight: 500;
  background-color: rgb(216, 239, 255);
  margin-top: 20px;
  margin-right: 20px;
}

#feedContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  margin: 0 auto;
  gap: 10px;
}

.say_nana {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 1px rgb(173, 214, 255) solid;
}

.say_nana input {
  width: 70%;
  height: 100%;
}

.say_nana button {
  width: 28%;
  height: 100%;
}

button {
  background-color: rgb(173, 214, 255);
  border: none;
  border-radius: 20px;
  text-align: center;
}

input {
  border: 1px rgb(223, 223, 223) solid;
  border-radius: 20px;
  text-align: center;
}

#hidden {
  display: none;
}
